body{
	background-color: #18191b;
    font-family: "Open Sans", Arial, sans-serif;
    color: #333;
}
@font-face {
  font-family: 'Klavika_Regular_Plain';
  src:  url('../fonts/Klavika_Regular_Plain.otf');
}
@font-face {
  font-family: 'Dosis-Medium';
  src:  url('../fonts/Dosis-Medium.ttf');
}
@font-face {
  font-family: 'Dosis-Light';
  src:  url('../fonts/Dosis-Light.ttf');
}
.navbar-nav{
	float:right;
	margin-top:25px;
}
.amazingslider-bottom-shadow-1{
	display:none!important;
}
.header{
    background: #000;
    width: 100% !important;
    padding: 0 4%;
    z-index: 100;
    padding-top: 10px;
    padding-bottom:10px;
}
.top_header{
	padding:2px 0px;
}
.top_header a{
	color:#FFF;
	padding:0px 10px;
}
.top_header a:hover{
	color:#f42803;
	text-decoration:none;
}
.navbar-default .navbar-nav>li>a {
       color: #888888;
	padding-left:0px;
	font-family: 'Klavika_Regular_Plain';
	padding:0px 10px;
	text-transform:uppercase;
	letter-spacing: 1px;
	    font-size: 14px;
}
.deals{
	background:none;
}
.deals img{
	max-width:80px!important;
	margin-top:-35px;
}
.navbar-nav>li>a:hover{
	color:#FFF;
}
.nav.navbar-nav li a span {
    margin:0px 0px;
	margin-left:10px;
	color:#960;
	    color: #888888;
}
.dropdown-menu>li>a{
	font-family: 'Klavika_Regular_Plain';
	color: #888888;
}
.dropdown-menu{
	    padding: 10px;
		padding-left:0px;
    background: #000;
    z-index: 50;
	top: 1em;
    width: 170px!important;
}
.heading{
	text-align:center;
	margin:0px;
	margin-bottom:40px;
	font-size:34px;
}
.sep {
    display: block;
    border-left: 1px solid #484848;
    width: 2px;
	height:15px;
}
.about{
	text-align:center;
	padding:0px 0px;
}
.boxy{
	padding:60px 4%;
	background:#18191b;
	color:#FFF;
	text-align:center;
}



.box_r {
    display: table;
    margin: 0 auto;
    width: 300px;
	height:300px;
}
.box {
    background: #C63;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
	font-size:20px;
	margin:0 auto;
	padding:20px;
	border-radius:100%;
	border:2px solid #bbbaba;
	
}


.about p{
	color:#CCC;
}
h1{
	text-shadow:0px 4px 4px #000;
	font-size:44px;
	text-align:center;
	text-transform:uppercase;
}

.search{
	position:absolute;
	width:80%;
	top:32%;
	text-align:center;
	left:10%;
}
.search-title {
    font-size: 5.7em;
    line-height: 1em;
    font-family: 'Varela Round', Arial, sans-serif;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 0.5em;
	text-shadow: 2px 0px 2px #000;
}
.search-title span {
    font-family: "Open Sans", Arial, sans-serif;
    display: block;
    font-size: 0.5em;
    text-transform: none;
    letter-spacing: 1px;
}
.search_field {
    width: 39em;
    margin: 0 auto 10px;
    vertical-align: middle;
    position: relative;
    z-index: 40;
	position: absolute;
	    top: -150px;
}
.search_field input {
        width: 100%;
    border: none;
    background-image: url(../images/search_icon.png);
    background-repeat: no-repeat;
    background-position: 1em 18px;
    padding-left: 3em;
    padding-right: 10em;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-border-radius: 30px;

}
.search_field input, .search_field .btn {
    font-size: 1.8em;
    height: 3em;
}
.search_field .btn {
    width: 8.8em;
    position: absolute;
    top: 0;
    right: 0;
    -moz-border-radius: 0 30px 30px 0;
    border-radius: 0 30px 30px 0;
    -webkit-border-radius: 0 30px 30px 0;
    text-align: center;
}
.search_field input, .search_field .btn {
    font-size: 1.8em;
    height: 2em;
}
.btn {
    border: none;
    background-color: #d3312d;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    color: #fff;
    -moz-border-radius: 30px 30px 30px 30px;
    border-radius: 30px 30px 30px 30px;
    -webkit-border-radius: 30px 30px 30px 30px;
    min-width: 50px;
    text-align: center;
    padding: 5px;
}





.fixed .logo img{
	width:auto;
}



.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  animation: smoothScroll 1s forwards;
  z-index:999999;
}
@keyframes smoothScroll {
	0% {
		transform: translateY(-40px);
	}
	100% {
		transform: translateY(0px);
	}
}



#content{
	background:#18191b;
	padding:0px;
}
.page-content {
       padding:0px 100px 60px;
	    color: #828282;
}
.page-content img{
   max-width:333px;
   float:left;
   padding-right:10px;
}

p {
    font-size: 16px;
    line-height: 1.428em;
    margin-top: 0;
    margin-bottom: 1.8em;
}

#content .btn-more {
    clear: both;
    padding: 8px 40px;
    background-color: #d3312d;
    margin-top: 0;
    margin-bottom: 0;
    bottom: 0;
}.pad0{
	padding:0px;
}
#content .btn-more:hover {
   color:#FFF;
   opacity:0.8;
}
.register{
	padding:0px;
	background-color: #2b2b2b;
	min-height: 250px;
    position: relative;
    padding: 60px 0;
    overflow: hidden;
	transition:all 0.5s;
}
.register:hover{
	background:#414141;
}
.register h2 {
    font-size: 30px;
	color:#FFF;
	    margin: 0 30px;
    font-weight: 600;
    line-height: 1.1;
    padding: 0;
	text-transform:uppercase;
}
.register a{
	display:block;
}.register a:hover{
	text-decoration:none;
}
.banner-arrow {
    display: inline-block;
    padding: 10px;
    border: 1px solid #fff;
    -moz-border-radius: 30px 30px 30px 30px;
    border-radius: 30px 30px 30px 30px;
    -webkit-border-radius: 30px 30px 30px 30px;
    cursor: pointer;
    text-align: center;
	    margin:30px; 
		    width: 37px;
    /* height: 32px; */
    line-height: 16px;
}
.banner-arrow i{
	color:#FFF;
}


.box_red {
    background-color: #af3834;
	    padding-top: 50px;
    padding-bottom: 50px;
    min-height: 368px;
}

.banner-over {
    position: relative;
    z-index: 10;
    margin: 0 30px;
}
.banner-over h2 {
    margin-bottom: 20px;
	    font-size: 30px;
		color:#FFF;
		text-transform:uppercase;
		font-weight:bold;
}
.banner-over ul {
    border-top: 1px solid #d36764;
    padding-top: 2px;
}
.banner-over ul li {
    border-color: #d36764;
    font-size: 12px;
    line-height: 1.2;
    border-bottom: 1px solid #d36764;
    padding-bottom: 2px;
    margin-bottom: 2px;
}
ul, ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}
.panel_date {
    background: #cc0000;
    display: inline-block;
    padding: 3px 5px;
    margin-right: 5px;
    font-size: 10px;
	    color: white;
}
.banner-over a {
    color: #fff;
    text-decoration: none;
}
.news_div {
    color: #fff;
    font-size: 11px!important;
    margin: 5px 0px;
}

.list_ul ul li {
    font-size: 12px;
    line-height: 1.2;
    border-bottom: 1px solid #333;
    padding-bottom: 2px;
    margin-bottom: 2px;
}

.list_ul ul {
    border-top: 1px solid #333;
    padding-top: 2px;
}

.mid_area{
	background:url(../images/bb2.jpg);
	background-attachment:fixed;
	background-size:cover;
	min-height:660px;
}
.clients {
    padding: 70px 100px 90px;   
    background: rgba(0, 0, 0, 0.5);
	height:auto;
	margin-top:40%;
}
.index-visible {
    display: block;
}
.clients h2 {
    color: #e4e4e4;
    font-size: 30px;
}
.clients ul {
    float: left;
    width: 100%;
}
.clients li {
    width: 18%;
    margin-right: 2%;
    float: left;
    font-size: 16px;
    line-height: 1.2;
    color: #e4e4e4;
    border-bottom: 1px solid #222;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
a {
    color: #cc0000;
    text-decoration: none;
}
a:hover {
    color: #cc0000;
    text-decoration: none;
}

.footer {
    background-color: #222;
    clear: both;
    padding: 40px 0;
    bottom: 0;
    width: 100%;
    z-index: 10;
    height: 100px;
}
.footer p {
    color: #fff;
    font-size: 11px;
    text-align: center;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#content{
}

.main_r{
	text-align:center;
	    padding: 30px 100px 60px;
		padding-bottom:0px;
		padding-top:0px;
}
.main_r p{    
    font-family: "Open Sans",Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #ddd;
    line-height: 1.8em;
	margin:20px 0px;
}
.main_r h3{  
    font-family: "Century Gothic",sans-serif;
    font-size: 18px;
    color: #ff6600;
    font-weight: normal;
    text-align: center;
    padding: 0px;
	margin:0px;
	line-height: 1.8em;
}
.main_r h2{ 
       font-size: 32px;
    margin: 0;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 300;
	font-family: 'Dosis-Light';
		color:#fff;
		    line-height: 1.9;
}

.page-content p{    
    font-family: "Open Sans",Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #ddd;
    line-height: 1.8em;
	margin:20px 0px;
}









@media(max-width:768px){
.nav.navbar-nav li a span {
	display:none;
}
.clients li {
    width: 100%;
    margin-right: 0%;
    float: left;
    font-size: 16px;
    line-height: 1.2;
    color: #e4e4e4;
    border-bottom: 1px solid #222;
    padding-bottom: 5px;
    margin-bottom: 5px;
}


.search-title {
    font-size: 1.7em;
    line-height: 1em;
    font-family: 'Varela Round', Arial, sans-serif;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 0.5em;
}
.search-title span {
    font-family: "Open Sans", Arial, sans-serif;
    display: block;
    font-size: 0.5em;
    text-transform: none;
    letter-spacing: 1px;
}
.search_field {
    width: 100%;
    margin: 0 auto 10px;
    vertical-align: middle;
    position: relative;
    z-index: 40;
}
.search_field input {
    width: 100%;
}
.search_field .btn {
    width: 4.8em;
}
.search_field input {
    width: 100%;
     padding-right: 0em; 
}
.page-content img {
    max-width: 100%;
}
.page-content {
    padding: 70px 15px;
    color: #828282;
}
.search {
    position: absolute;
    width: 80%;
    top: 12%;
    text-align: center;
    left: 10%;
}
.search_field input, .search_field .btn {
    font-size: 16px;
    height: 2em;
}
.search_field input{
	    background-position: 10px 9px;
}
.clients {
    padding: 70px 15px;
}
.navbar-nav {
    float: left;
	width:100%;
}
}

