body{
	background-color: #18191b;
    font-family: "Open Sans", Arial, sans-serif;
    color: #333;
}
@font-face {
  font-family: 'Klavika_Regular_Plain';
  src:  url('../fonts/Klavika_Regular_Plain.otf');
}
@font-face {
  font-family: 'Dosis-Medium';
  src:  url('../fonts/Dosis-Medium.ttf');
}
@font-face {
  font-family: 'Dosis-Light';
  src:  url('../fonts/Dosis-Light.ttf');
}
.navbar-nav{
	float:right;
	margin-top:25px;
}
.amazingslider-bottom-shadow-1{
	display:none!important;
}
.header{
    background: #000;
    width: 100% !important;
    padding: 0 4%;
    z-index: 100;
    padding-top: 10px;
    padding-bottom:10px;
}
.top_header{
	padding:2px 0px;
}
.top_header a{
	color:#FFF;
	padding:0px 10px;
}
.top_header a:hover{
	color:#f42803;
	text-decoration:none;
}
.navbar-default .navbar-nav>li>a {
       color: #888888;
	padding-left:0px;
	font-family: 'Klavika_Regular_Plain';
	padding:0px 10px;
	text-transform:uppercase;
	letter-spacing: 1px;
	    font-size: 14px;
}
.deals{
	background:none;
}
.deals img{
	max-width:80px!important;
	margin-top:-35px;
}
.navbar-nav>li>a:hover{
	color:#FFF;
}
.nav.navbar-nav li a span {
    margin:0px 0px;
	margin-left:10px;
	color:#960;
	    color: #888888;
}
.dropdown-menu>li>a{
	font-family: 'Klavika_Regular_Plain';
	color: #888888;
}
.dropdown-menu{
	    padding: 10px;
		padding-left:0px;
    background: #000;
    z-index: 50;
	top: 1em;
    width: 170px!important;
}
.heading{
	text-align:center;
	margin:0px;
	margin-bottom:40px;
	font-size:34px;
}
.sep {
    display: block;
    border-left: 1px solid #484848;
    width: 2px;
	height:15px;
}
.about{
	text-align:center;
	padding:0px 0px;
}
.boxy{
	padding:60px 4%;
	background:#18191b;
	color:#FFF;
	text-align:center;
}



.box_r {
    display: table;
    margin: 0 auto;
    width: 300px;
	height:300px;}

.box {
    background: #C63;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
	font-size:20px;
	margin:0 auto;
	padding:20px;
	border-radius:100%;	
}

.hovicon {   
    position: relative;  
   	z-index: 1;	 
}


.hovicon:after {
    pointer-events: none;
    position: absolute;
	 border-radius: 100%;
     width: 100%;
     height: 100%;   
     content:'';
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
	
}
.hovicon:before {	
    speak: none;    
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    display: block;
    -webkit-font-smoothing: antialiased;
}


/* Effect 4 */
 .hovicon.effect-4 { 
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 1);	
}

.hovicon.effect-4.sub-b p{font-size:20px; display:table-cell; text-align:center; }


.hovicon.effect-4.sub-a {
    -webkit-transition: box-shadow 0.2s;
    -moz-transition: box-shadow 0.2s;
    transition: box-shadow 0.2s;
	
}
.hovicon.effect-4:before {
    
}
.hovicon.effect-4:after {
    top: -4px;
    left: -4px;
    padding: 0;
    z-index: 10;
    border: 4px dashed #fff;
}
.hovicon.effect-4:hover {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    color: #C63;
	 background: #fff;
	
}
.hovicon.effect-4:hover i {
     color: #C63;
	 background: #fff;
}
/* Effect 4b */
 .hovicon.effect-4.sub-b:hover {	 
    -webkit-transition: box-shadow 0.2s;
    -moz-transition: box-shadow 0.2s;
    transition: box-shadow 0.2s;	
}
.hovicon.effect-4.sub-b:hover:after {
    -webkit-animation: spinAround 9s linear infinite;
    -moz-animation: spinAround 9s linear infinite;
    animation: spinAround 9s linear infinite;
}
@-webkit-keyframes spinAround {
    from {
        -webkit-transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}
@-moz-keyframes spinAround {
    from {
        -moz-transform: rotate(0deg)
    }
    to {
        -moz-transform: rotate(360deg);
    }
}
@keyframes spinAround {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg);
    }
}


.about p{
	color:#CCC;
}
h1{
	text-shadow:0px 4px 4px #000;
	font-size:44px;
	text-align:center;
	text-transform:uppercase;
}

.search{
	position:absolute;
	width:80%;
	top:32%;
	text-align:center;
	left:10%;
}
.search-title {
    font-size: 5.7em;
    line-height: 1em;
    font-family: 'Varela Round', Arial, sans-serif;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 0.5em;
	text-shadow: 2px 0px 2px #000;
}
.search-title span {
    font-family: "Open Sans", Arial, sans-serif;
    display: block;
    font-size: 0.5em;
    text-transform: none;
    letter-spacing: 1px;
}
.search_field {
    width: 39em;
    margin: 0 auto 10px;
    vertical-align: middle;
    position: relative;
    z-index: 40;
	position: absolute;
	    top: -150px;
}
.search_field input {
        width: 100%;
    border: none;
    background-image: url(../images/search_icon.png);
    background-repeat: no-repeat;
    background-position: 1em 18px;
    padding-left: 3em;
    padding-right: 10em;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-border-radius: 30px;

}
.search_field input, .search_field .btn {
    font-size: 1.8em;
    height: 3em;
}
.search_field .btn {
    width: 8.8em;
    position: absolute;
    top: 0;
    right: 0;
    -moz-border-radius: 0 30px 30px 0;
    border-radius: 0 30px 30px 0;
    -webkit-border-radius: 0 30px 30px 0;
    text-align: center;
}
.search_field input, .search_field .btn {
    font-size: 1.8em;
    height: 2em;
}
.btn {
    border: none;
    background-color: #d3312d;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    color: #fff;
    -moz-border-radius: 30px 30px 30px 30px;
    border-radius: 30px 30px 30px 30px;
    -webkit-border-radius: 30px 30px 30px 30px;
    min-width: 50px;
    text-align: center;
    padding: 5px;
}





.fixed .logo img{
	width:auto;
}



.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  animation: smoothScroll 1s forwards;
  z-index:999999;
}
@keyframes smoothScroll {
	0% {
		transform: translateY(-40px);
	}
	100% {
		transform: translateY(0px);
	}
}



#content{
	background:#18191b;
	padding:0px;
}
.page-content {
       padding:0px 100px 60px;
	    color: #828282;
}
.page-content img{
   max-width:333px;
   float:left;
   padding-right:10px;
}

p {
    font-size: 16px;
    line-height: 1.428em;
    margin-top: 0;
    margin-bottom: 1.8em;
}

#content .btn-more {
    clear: both;
    padding: 8px 40px;
    background-color: #d3312d;
    margin-top: 0;
    margin-bottom: 0;
    bottom: 0;
}.pad0{
	padding:0px;
}
#content .btn-more:hover {
   color:#FFF;
   opacity:0.8;
}
.register{
	padding:0px;
	background-color: #2b2b2b;
	min-height: 250px;
    position: relative;
    padding: 60px 0;
    overflow: hidden;
	transition:all 0.5s;
}
.register:hover{
	background:#414141;
}
.register h2 {
    font-size: 30px;
	color:#FFF;
	    margin: 0 30px;
    font-weight: 600;
    line-height: 1.1;
    padding: 0;
	text-transform:uppercase;
}
.register a{
	display:block;
}.register a:hover{
	text-decoration:none;
}
.banner-arrow {
    display: inline-block;
    padding: 10px;
    border: 1px solid #fff;
    -moz-border-radius: 30px 30px 30px 30px;
    border-radius: 30px 30px 30px 30px;
    -webkit-border-radius: 30px 30px 30px 30px;
    cursor: pointer;
    text-align: center;
	    margin:30px; 
		    width: 37px;
    /* height: 32px; */
    line-height: 16px;
}
.banner-arrow i{
	color:#FFF;
}


.box_red {
    background-color: #af3834;
	    padding-top: 50px;
    padding-bottom: 50px;
    min-height: 368px;
}

.banner-over {
    position: relative;
    z-index: 10;
    margin: 0 30px;
}
.banner-over h2 {
    margin-bottom: 20px;
	    font-size: 30px;
		color:#FFF;
		text-transform:uppercase;
		font-weight:bold;
}
.banner-over ul {
    border-top: 1px solid #d36764;
    padding-top: 2px;
}
.banner-over ul li {
    border-color: #d36764;
    font-size: 12px;
    line-height: 1.2;
    border-bottom: 1px solid #d36764;
    padding-bottom: 2px;
    margin-bottom: 2px;
}
ul, ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}
.panel_date {
    background: #cc0000;
    display: inline-block;
    padding: 3px 5px;
    margin-right: 5px;
    font-size: 10px;
	    color: white;
}
.banner-over a {
    color: #fff;
    text-decoration: none;
}
.news_div {
    color: #fff;
    font-size: 11px!important;
    margin: 5px 0px;
}

.list_ul ul li {
    font-size: 12px;
    line-height: 1.2;
    border-bottom: 1px solid #333;
    padding-bottom: 2px;
    margin-bottom: 2px;
}

.list_ul ul {
    border-top: 1px solid #333;
    padding-top: 2px;
}

.mid_area{
	background:url(../images/bb2.jpg);
	background-attachment:fixed;
	background-size:cover;
	min-height:660px;
}
.clients {
    padding: 70px 100px 90px;   
    background: rgba(0, 0, 0, 0.5);
	height:auto;
	margin-top:40%;
}

.index-visible {
    display: block;
}
.clients h2 {
    color: #e4e4e4;
    font-size: 30px;
}
.clients ul {
    float: left;
    width: 100%;
}
.clients li {
    width: 18%;
    margin-right: 2%;
    float: left;
    font-size: 16px;
    line-height: 1.2;
    color: #e4e4e4;
    border-bottom: 1px solid #222;
    padding-bottom: 5px;
    margin-bottom: 5px;
}



.clients2 {
    padding: 70px 100px 90px;   
    background: rgba(0, 0, 0, 0.5);
	height:auto;
	
}

.index-visible2 {
    display: block;
}
.clients2 h2 {
    color: #e4e4e4;
    font-size: 30px;
}
.clients2 ul {
    float: left;
    width: 100%;
}
.clients2 li {
    width: 18%;
    margin-right: 2%;
    float: left;
    font-size: 16px;
    line-height: 1.2;
    color: #e4e4e4;
    border-bottom: 1px solid #222;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

a{
    color: #fff;
    text-decoration: none;
}
a:hover {
    color: #cc0000;
    text-decoration: none;
}

.footer {
    background-color: #222;
    clear: both;
    padding: 40px 0;
    bottom: 0;
    width: 100%;
    z-index: 10;
    height: 100px;
}
.footer p {
    color: #fff;
    font-size: 11px;
    text-align: center;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#content{
}

.main_r{
	text-align:center;
	    padding: 30px 100px 60px;
		padding-bottom:0px;
		padding-top:0px;
}
.main_r p{    
    font-family: "Open Sans",Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #ddd;
    line-height: 1.8em;
	margin:20px 0px;
}
.main_r h3{  
    font-family: "Century Gothic",sans-serif;
    font-size: 18px;
    color: #ff6600;
    font-weight: normal;
    text-align: center;
    padding: 0px;
	margin:0px;
	line-height: 1.8em;
}
.main_r h2{ 
       font-size: 32px;
    margin: 0;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 300;
	font-family: 'Dosis-Light';
		color:#fff;
		    line-height: 1.9;
}

.page-content p{    
    font-family: "Open Sans",Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #ddd;
    line-height: 1.8em;
	margin:20px 0px;
}

.innerbanner{ 
    height: 370px;
    background-image: url(../images/bg-top.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
	position:relative;
	background-size:cover;
	border:#F00 0px solid;
}
.innerbanner h3{ font-size:3vw; color:#fff; text-align:center; top:40%; width:100%; position:absolute; text-transform:uppercase; } 
.innerbanner h5{ font-size:0.8vw; color:#fff; text-align:center; top:58%; width:100%; position:absolute;}

.innerWbg{ width:100%; background:url(../images/texture.png); padding:30px;}

.simpleinputBox{
width: 100%;
height: 50px;
border-radius: 5px;
border-left: 1px dotted #CCC;
border-right: 1px dotted #CCC;
border-top: 1px dotted #CCC;
border-bottom: 1px dotted #CCC;
font-weight: 200;
padding:0px 0 0px 10px;
margin-bottom:5px;
}

.simpleTextare{
width: 100%;
height: 100px;
border-radius: 5px;
border-left: 1px dotted #CCC;
border-right: 1px dotted #CCC;
border-top: 1px dotted #CCC;
border-bottom: 1px dotted #CCC;
font-weight: 200;
padding:0px 0 0px 10px;
margin-bottom:5px;
}

.marginT10{ margin-top:10px;}

.hvr-outline-outHund {
  display:block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background: #b59259;
  margin:0 auto;
  padding:10px 12px;
  color:#FFF;
  border:0px;
  border-radius:5px;
  font-size:13px;
  width:130px;
  
}
.hvr-outline-outHund:before {
  content: '';
  position: absolute;
  border: #b59259 solid 2px;
  border-radius:5px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: top, right, bottom, left;
  transition-property: top, right, bottom, left;
}
.hvr-outline-outHund:hover:before,.hvr-outline-outHund:focus:before,.hvr-outline-outHund:active:before {
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
}

.msg{ background:#060; color:#fff; padding:5px; text-align:center; margin-bottom:5px;}

.eventdiv{ padding:10px; border:1px dotted #999;}
.eventdiv:hover{
    box-shadow: 0 5px 5px rgba(0,0,0,0.3);
    -webkit-transform: scale(1.02, 1.02);
    transform: scale(1.02, 1.02);
	 background:#EFEFEF; cursor:pointer; color:#900;
}
.newsheading{ font-size:20px;}
.postby{ font-size:12px; color:#999; min-height:20px;}
.marginTop20{ margin-top:20px;}
.marginB5{ margin-bottom:5px;}
.marginB10{ margin-bottom:10px;}
.marginB20{ margin-bottom:20px;}
.pad0{ padding:0px}
.padL0{ padding-left:0px;}

/*---------------------------*/

.latestnews{ padding-top:15px;}

.latestnews ul li {
    position: relative;
	padding: 10px 0px;	
	border-bottom:#E9EDED 1px dotted;
}

.latestnews a{
 color:#666!important;
 font-size:13px;
 text-decoration:none;
}

.latestnews a:hover{
 color:#F60!important;
}

.latestnews ul {
  list-style: none;width:100%; padding:0px;
}

.latestnews ul li:before{
   content: '';
   position: absolute;
   border-right:1px solid black;
   border-bottom:1px solid black;
   width:5px;
   height:5px;
   top:22px;
   /*top: calc(50% - 0px);*/
   left: -10px;
   transform: translateY(-50%) rotate(-45deg);
}
/*---------------------------------------*/
.imgres img{ width:100%; height:auto; display:block;}

.nsocial{ float:right;}
.nsocial li{ display:inline; margin-right:5px;}


/*-- bootstrap-pop-up --*/
.modal-header {
    color: #222;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.close {
    opacity: 1;
}
.modal-body p {
    color: #777;
    text-align: left;
	padding:1em 2em 1em;
	margin: 0 !important;
	line-height:2em;
}
.modal-body p i {
    display: block;
    margin: 1em 0;
    color: #212121;
}
.modal-body {
    padding:0;
}
.modal-content {
    border-radius: 0;
}
button.close {
    font-size: 1.5em;
    color:#212121;
	outline: none;
}
/*-- registration --*/
.signin-form {
	    padding: 0em 1em 1em 1em;
    text-align: center;
}
.signin-form h3,h3.agileinfo_sign  {
       font-size: 1.5em;
    color: #212121;
    font-weight: 700;
    margin: 1em 0 0.8em 0;
    text-transform: uppercase;
    letter-spacing: 1px;
}
h3.agileinfo_sign  {
	text-align:center;
}
.signin-form h3 span {
    color: #67e1ff;
}
.signin-form img {
    /*border-radius: 50%;*/
}
.login-form {
    margin: 1em 0 2.5em;
}
.signin-form input[type="email"],.signin-form input[type="text"], .signin-form input[type="password"] {
      width: 100%;
    padding: 1em 1em 1em 1em;
    font-size: 0.8em;
       margin: 0.5em 0;
    outline: none;
    color: #212121;
    border: none;
    border: 1px solid #ccc;
    letter-spacing: 1px;
    text-align: center;
}
.signin-form input[type="email"] {
    background: none;
    display: block;
}
.signin-form input[type="text"] {
    background: none;
    display: block;
}
.signin-form input[type="password"] {
     background: none;
    display: block;
}
.signin-form ::-webkit-input-placeholder{
	color:#212121 !important;
}
.login-social-grids{
    margin: 1em 0;
}
.login-social-grids ul {
    padding: 0;
    margin: 0;
}
.login-social-grids ul li {
    display: inline-block;
    margin: 0 .5em 0 0;
}
.login-social-grids ul li a {
    color: #FFFFFF;
    text-align: center;
}
.login-social-grids ul li a i.fa.fa-facebook, .login-social-grids ul li a i.fa.fa-twitter, .login-social-grids ul li a i.fa.fa-rss{
    height: 30px;
    width: 30px;
    border: solid 2px #212121;
    line-height: 29px;
    background: none;
    color: #212121;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
	border-radius:50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-ms-border-radius:50%;
	-o-border-radius:50%;
	
}
.login-social-grids ul li a i.fa.fa-facebook:hover {
	border: solid 2px #3b5998;
	background:#3b5998;
    color: #FFFFFF;
}
.login-social-grids ul li a i.fa.fa-twitter:hover{
	border: solid 2px #55acee;
	background:#55acee;
	color: #FFFFFF;
}
.login-social-grids ul li a i.fa.fa-rss:hover{
	border: solid 2px #f26522;
	background:#f26522;
	color: #FFFFFF;
}
.modal-header .close{
	float:right!important;
}
.form-control:focus {
    border: 1px solid #ccc;
    outline: 0;
	 box-shadow:none!important;
}

.marginT20{ margin-top:20px;}
.marginTop40{ margin-top:40px;}

/*--------------------------------*/
/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0; 
  min-height:200px;
  border:#F0E7E7 1px solid;
  border-radius:5px;
  
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  /*text-align: center;*/
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}
    
.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #F0E7E7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 15px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 15px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  /*border-bottom: none;*/
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 3px solid #5b9bd1;
  border-bottom:1px dotted #F0E7E7;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}
.bottomP{ margin-bottom:15px;}
.bottomP5{ margin-bottom:5px;}
.bottomP3{ margin-bottom:3px;}
.detailsPrdimg{ margin-top:15px;}
.jagbg{  background-position: 10px 105px; min-height:700px; padding:15px;}

.myaccountBox {
    border: 1px solid #eee;
    box-shadow: 7px 7px 5px 0 rgba(46, 50, 50, 0.76);
    min-height: 700px;
	padding-left:0;
}
/*-----------------upload btn---------------------------------*/

.fileUpload {
	position: relative;
	overflow: hidden;
	margin: 10px 4px;
	padding:10px 2px 10px 6px;
	/*background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px; */
  text-decoration: none;

}
.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;	
	cursor: pointer;
	opacity: 0;
	padding:50px;
	filter: alpha(opacity=0);
	width:100%;
    height:200px;		
}

/*--------------------------end--------------------------------------*/
.bottomP{ padding-bottom:10px;}
.for_texboxMyaccount {
    width: 100% !important;
    height: 30px;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-weight: normal;
    padding: 0px 0 0px 10px;
}

.for_texboxcal {
    width: 90% !important;
    height: 30px;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-weight: normal;
    padding: 0px 0 0px 10px;
}
.for_textarea_autoedit{
width: 100%!important;
height:70px;
border-radius: 5px;
border: 1px solid #ccc;
font-weight: 200;
padding:0px 0 0px 10px;	
}
.select-style3 {
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    width: 100%;
    border-radius: 3px;
    overflow: hidden;
	/*! color:#666; */
    background-color: #fff;
    background: #fff url("../images/arrowdown.gif") no-repeat 100% 50%;
	margin-bottom: 5px;
}

.select-style3 select {
    padding: 5px 6px;
    width: 102%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
			font-size: 14px !important;
font-weight: 400 !important;
color: #666 !important;
}

.select-style3 select:focus {
    outline: none;
}

.innerser{
 	position:absolute;
	width:80%;
	top:50%;
	text-align:center;
	left:10%;
}

.prcode{ font-size:12px;}
.redcls{ color:#f00;}
.forsimple{
width: 100%!important;
height: 30px;
border-radius: 0px;
border-left: 1px solid #CCC;
border-right: 1px solid #CCC;
border-top: 1px solid #CCC;
border-bottom: 1px solid #CCC;
font-weight: 200;
padding:0px 0 0px 10px;
}

.forsimpletextare{
width: 100%!important;
height: 70px;
border-radius: 0px;
border-left: 1px solid #CCC;
border-right: 1px solid #CCC;
border-top: 1px solid #CCC;
border-bottom: 1px solid #CCC;
font-weight: 200;
padding:0px 0 0px 10px;
}

.shipping{ background:#000; color:#fff; padding:5px 5px}

.mobtr{ display:none;}




































/**
 * Circle Styles
 

.circle {
  position: relative;
  display: block;
  margin: 0 auto;
  background-color: transparent;
  color: #222;
  text-align: center;

  display: block;
  padding-bottom: 60%;
  width: 60%;
  height: 0;
  border-radius: 50%;
  background-color: #ddd;
  content: "";
}

.circle__inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 97%;
  height: 100%;
  margin:0 auto;
}

.circle__wrapper {
  display: table;
  width: 100%;
  height: 100%;
}

.circle__content {
  display: table-cell;
  padding: 1em;
  vertical-align: middle;
}

@media (min-width: 480px) {
  .circle__content {
    font-size: 1vh;
  }
}

@media (min-width: 768px) {
  .circle__content {
    font-size: 2vh;
  }
}

*/

.tableBorderSolid{
    border-collapse: collapse;
  }
.tableBorderSolid th, .tableBorderSolid td{
    border: 1px solid #222;
    padding: 10px;
    text-align: left;
}



#cart th{ padding-top:20px;padding-bottom:20px;}
#cart td{ padding-top:20px;padding-bottom:20px;}

.table-hoverstyl>tbody>tr:hover>td, .table-hoverstyl>tbody>tr:hover>th {
	background-color:#d3312db3;
	color:#fff;
}

@media(max-width:768px){
	
	.clients2 li {
        width: 48%;
	}
	
	
		 table#cart tbody td .form-control{
		width:20%;
		display:inline !important;
	}	
	
	.mobtr{ display:block;}
	table#cart thead { display: none; }

table#cart tbody tr {border:1px solid #000;}
	
	table#cart tbody td { display: block; padding:.6rem;  text-align:left;}
	table#cart tbody tr td:first-child { background:#F4F4F4; color:#333; }
	table#cart tbody td:before {
		content: attr(data-th); font-weight: bold;
		display: inline-block; 
		width:40%!important;
	}	
	table#cart tfoot td{display:block; }
	table#cart tfoot td .btn{display:block;}
	
	
	
.box_r {
    display: table;
    margin: 0 auto;
    width: 250px;
    height: 250px;
    margin-top: 10px;
}
	
.box {
    font-size: 17px;
}
	
.main_r {
    text-align: center;
    padding: 15px;
}
.main_r h2 {
    font-size: 21px;
}
	
	
.deals img {
    max-width: 60px !important;
    margin-top: 5px;
}
	
	.search_field {
    width: 39em;
    margin: 0 auto 10px;
    vertical-align: middle;
    position: relative;
    z-index: 40;
	position: absolute;
	    top: -120px;
}
	
.nav.navbar-nav li a span {
	/*display:none;*/
}
.clients li {
    width: 100%;
    margin-right: 0%;
    float: left;
    font-size: 16px;
    line-height: 1.2;
    color: #e4e4e4;
    border-bottom: 1px solid #222;
    padding-bottom: 5px;
    margin-bottom: 5px;
}


.search-title {
    font-size: 1.7em;
    line-height: 1em;
    font-family: 'Varela Round', Arial, sans-serif;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 0.5em;
}
.search-title span {
    font-family: "Open Sans", Arial, sans-serif;
    display: block;
    font-size: 0.5em;
    text-transform: none;
    letter-spacing: 1px;
}
.search_field {
    width: 100%;
    margin: 0 auto 10px;
    vertical-align: middle;
    position: relative;
    z-index: 40;
}
.search_field input {
    width: 100%;
}
.search_field .btn {
    width: 4.8em;
}
.search_field input {
    width: 100%;
     padding-right: 0em; 
}
.page-content img {
    max-width: 100%;
}
.page-content {
    padding: 70px 15px;
    color: #828282;
}

.innerbanner{ 
    height: 170px;
}
.innerser{ 	
	top:75%;
}

.search {
    position: absolute;
    width: 80%;
    top: 40%;
    text-align: center;
    left: 10%;
}
.search_field input, .search_field .btn {
    font-size: 16px;
    height: 2em;
}
.search_field input{
	    background-position: 10px 9px;
}
.clients {
    padding: 70px 15px;
}
.navbar-nav {
    float: left;
	width:100%;
}
}
@media(max-width:580px){
	.clients2 li {
        width: 98%;
	}	
}
@media(max-width:500px){
	table#cart tbody td:before {		
		width:100%!important;
	}	
	
}
