@import url(https://fonts.googleapis.com/css?family=Open+Sans);

#amazingcarousel-1 .amazingcarousel-image {	
	position: relative;
	padding: 4px;
	background-color: #fff;
	-moz-box-shadow:  0 1px 4px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

#amazingcarousel-1 .amazingcarousel-image img {
	display: block;
	width: 100%;
	border: 0;
	margin: 0;
	padding: 0;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	height:102px;
}

#amazingcarousel-1 .amazingcarousel-title {
	position:relative;
	font: 14px "Open Sans", sans-serif;
	color:#333333;
	margin:6px;
	text-align:center;
	line-height: 18px;
	overflow: hidden;
}

#amazingcarousel-1 .amazingcarousel-description {
	position:relative;
	font: 12px "Open Sans", sans-serif;
	color:#333333;
	margin:6px;
	text-align:center;
	line-height: 14px;		
	overflow: hidden;
}

#amazingcarousel-1 .amazingcarousel-readmore {
	text-align: center
}

#amazingcarousel-1 .amazingcarousel-readmore a {
	font: 14px "Open Sans", sans-serif;
	color:#0073aa;
	text-decoration: none;
}

#amazingcarousel-1 .amazingcarousel-readmore a:hover {
	color:#00a0d2;
}

/* carousel */

#amazingcarousel-container-1 {
	padding: 32px 60px; 
}

#amazingcarousel-1 .amazingcarousel-list-container { 
	padding: 8px 0;
}

/* item */

#amazingcarousel-1 .amazingcarousel-item-container {
	text-align: center;
	padding: 4px;
}

/* arrows */

#amazingcarousel-1 .amazingcarousel-prev {
	left: 0%;
	top:50%;
	margin-left: -60px;
	margin-top: -24px;
}

#amazingcarousel-1 .amazingcarousel-next {
	right: 0%;
	top: 50%;
	margin-right: -60px;
	margin-top: -24px;
}

/* navigation bullets */

#amazingcarousel-1 .amazingcarousel-nav {
	position: absolute;
	width: 100%;
	top: 100%;
}

#amazingcarousel-1 .amazingcarousel-bullet-wrapper {
	margin: 4px auto;
}



